*
{
    margin:0;
    padding:0;
}

body 
{
    width:100%;
    border:0;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.landing
{

    width:100%;
    height:fit-content;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(17,0,100,1) 21%, rgba(25,7,118,1) 41%, rgba(45,25,143,1) 62%, rgba(201,57,104,1) 100%);
    transition:0.7s;
    
}



.hamburger-menu
{
    width:80vw;
    height:100vh;
    position:absolute;
    background: rgb(14,10,109);
    background: linear-gradient(90deg, rgba(14,10,109,1) 0%, rgba(6,4,71,1) 100%);
    left:0;
    z-index:666;
    top:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition:0.7s;
    transform:translateX(-80vw);
}

.hamburger-open 
{
    transform:translateX(0px);
    transition:0.7s;
}

.landing-open 
{
    transform:translateX(80vw);
    transition:0.7s;
}
.profile 
{
    width:fit-content;
    height:50px;
    margin-top:20px;
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile img 
{
    width:30px;
    height:30px;
    border:1px solid white;
    border-radius:100%;
    padding:10px;
    margin:0px 10px;
}

.nickname 
{
    font-size:16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color:rgba(255, 255, 255, 0.705);
    letter-spacing: 1px;
}

.hamburger-link 
{
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color:rgba(255, 255, 255, 0.705);
    letter-spacing: 1px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hamburger-link a 
{
    text-decoration: none;
    color:white;
}
.ham-link-img 
{
    width:40px;
    height:40px;
    margin:30px 20px;
}




.header-logo
{
    width:50px;
    height:50px;
    position:absolute;
    color:white;
    right:30px;
}

header 
{
    width:100%;
    height:80px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.hamburger-button
{
    position:absolute;
    left:10px;
    height:60px;
    width:60px;
    background:none;
    border:none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-span, .second-span, .third-span
{
    width:45px;
    height:3px;
    background:rgb(255, 255, 255);
    border-radius:20px;
    position:absolute;
}

.first-span 
{
    transform:translateY(-15px);
    transition:0.7s;
}

.second-span 
{
    transform:translateY(0px);
    transition:0.7s;
}


.third-span 
{
    transform:translateY(15px);
    transition:0.7s;
}

.first-open 
{
    transform:rotate(45deg);
    transition:0.7s;
}
.second-open 
{
    opacity:0;
    transition:0.7s;
}
.third-open 
{
    transform:rotate(-45deg);
    transition:0.7s;
}

nav 
{
    display:none;
}



.cryptoPrices
{
    width:100%;
    height:40px;
    background:rgba(255, 255, 255, 0.11);
    margin-top:20px;
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.landing-description-container
{

    width:100%;
    height: fit-content;
    position:relative;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content:center;
    
}

.landing-description-container img 
{
    width:300px;
    height:300px;
}

.landing-text 
{
    width:100%;
    height:fit-content;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 
{
    font-size:35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color:rgba(255, 255, 255, 0.705);
    text-align: center;
    letter-spacing: 1px;
    width: 100%;
    margin:20px 0px;
    
}

p1
{
    font-size:18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color:rgba(255, 255, 255, 0.705);
    text-align: center;
    letter-spacing: 1px;
    width:100%;

}

.start 
{
    width:200px;
    height:60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgba(255, 255, 255, 0.747);
    font-size: 25px;
    font-size:400;
    border:none;
    border-radius:50px;
    background: rgb(74,21,181);
background: linear-gradient(135deg, rgba(74,21,181,1) 0%, rgba(159,18,18,1) 100%);
margin:30px 0px;
transition:opacity 0.4s;

}

.start:hover 
{
    opacity:0.7;
    transition:0.4s;
    cursor: pointer;
}





.small-market-container 
{
    width:100%;
    height:fit-content;
    background:white;
    position:relative;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}


.about-img
{
    display:none;
}

.market-container
{
    width:100%;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btc-holder
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

p2, p3 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:40px;
    color:rgba(0, 0, 0, 0.795);
    font-weight: 500;
    margin:20px 0px;
}

.crypto 
{
    width:70vw;
    height:40px;
    border:1px solid rgba(0, 0, 0, 0.349);
    border-radius:50px;
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.crypto .currency
{
    width:40px;
    height:40px;
    position:absolute;
    left:25px;
}

.crypto p 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    color:rgba(0, 0, 0, 0.795);
    font-weight: 200;
}

.crypto .roll-down 
{
    width:30px;
    height:30px;
    position: absolute;
    right: 25px;
    transition:opacity 0.3s;
}

.crypto .roll-down:hover 
{
    cursor: pointer;
    animation:roll-down-animation 0.6s ease-in-out infinite;
    opacity:0.3s;

    
}

@keyframes roll-down-animation 
{
    0%{transform:translateY(0px);}
    50%{transform:translateY(5px);}
    100%{transform:translateY(0px);}
}

.value 
{
    width:70vw;
    height:50px;
    border:1px solid rgba(0, 0, 0, 0.493);
    border-radius:50px;
    padding:0px 15px;
    font-size:20px;
    color:black;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:25px;
}

.price-holder 
{
    background: rgb(143,18,101);
    background: linear-gradient(90deg, rgba(143,18,101,1) 0%, rgba(41,37,155,1) 100%); 
    width:70vw;
    height:50px;
    border-radius:50px;
    color:white;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:20px 0px;
}

.continue 
{
    background: rgb(143,18,101);
    background: linear-gradient(90deg, rgba(143,18,101,1) 0%, rgba(41,37,155,1) 100%); 
    width:50vw;
    height:40px;
    border:none;
    border-radius:50px;
    color:white;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:30px 0px;
    transition:0.4s;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.continue:hover 
{
    opacity:0.9;
    transition:0.4s;
    cursor: pointer;
    transform:translateY(-8px);
    -webkit-box-shadow: 0px 15px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 15px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 15px 5px 0px rgba(50, 50, 50, 0.75);
}

p4 
{
    font-size:15px;
    color:black;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

p4 a 
{
    color:black;

}



.wave-1 
{
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin:0;

}

.wave-1 img 
{
    margin:0;
}

.about-us 
{
    width:100%;
    height:fit-content;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: rgb(14,10,109);
    background: linear-gradient(180deg, rgba(14,10,109,1) 0%, rgba(99,0,46,1) 100%); 
}

.text-about-us 
{
    width:100%;

    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

h2
{
    font-size:25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color:rgba(255, 255, 255, 0.952);
    text-align: center;
    letter-spacing: 1px;

}

p5
{
    font-size:16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color:rgba(255, 255, 255, 0.788);
    text-align: center;
    letter-spacing: 1px;
    margin-top:30px;

}

.about-us img 
{
   display:none;
}

.text-about-us button 
{
    width:60vw;
    padding:7px 10px;
    color:white;
    background:transparent;
    border:2px solid white;
    border-radius:50px;
    font-size:25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin:30px 0px;
    transition:opacity 0.4s;
}

.text-about-us button:hover 
{
    opacity:0.7;
    transition:0.4s;
    cursor: pointer;
}


.help 
{
    width:100%;
    height:fit-content;
    background:white;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

h3 
{
    font-size:30px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#080558;

}

.card-container 
{
    width:100%;
    height:fit-content;
    margin-top:30px;
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.card 
{

    background: rgb(133,97,218);
    background: linear-gradient(180deg, rgba(133,97,218,1) 0%, rgba(205,63,63,1) 100%); 
    width:70vw;
    height:fit-content;
    margin:30px 0px;
    border-radius:30px;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:30px 0px;
    -webkit-box-shadow: 0px 8px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 8px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 8px 5px 0px rgba(50, 50, 50, 0.75);
}

p6 
{
    font-size:17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align:center;
    letter-spacing: 1px;
    color:white;
    width:60%;
}

.card button 
{
    
  
    font-size:25px;
    color:white;
    background:rgba(255, 255, 255, 0.493);
    border:none;
    border-radius:50px;
    padding:10px 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:40px;
    transition:opacity 0.4s;
}

.card button:hover 
{
    opacity:0.7;
    cursor: pointer;
    transition:0.4s;
}

.description-container 
{
    width:100%;
    height:fit-content;
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.description 
{
    width:fit-content;
    height:fit-content;
    margin:30px 80px;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

#time 
{
    width:90px;
    height:90px;
    opacity:0.7;
}

#curr 
{
    width:90px;
    height:90px;
    opacity:0.7;
}

#btc-worek
{
    width:70px;
    height:70px;
    opacity:0.7;
}

p7 
{
    font-size:25px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:100%;
    line-height: 30px;
    margin-top:20px;
    text-align: center;
}


footer 
{
    width:100%;
    height:fit-content;
    position:relative;
padding:50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(14,10,109);
    background: linear-gradient(180deg, rgba(14,10,109,1) 0%, rgba(99,0,46,1) 100%); 
}

.sign-up-container 
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:fit-content;
    height:fit-content;
    margin:0px 0px;


}

.sign-up-footer, .sign-in-footer 
{
    color:white;
    border:2px solid white;
    background:rgba(255, 255, 255, 0.39);
    border-radius:50px;
    font-size:25px;
    padding:8px 10px;
    margin:10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    transition:opacity .4s;
}

.sign-up-footer:hover, .sign-in-footer:hover 
{
    opacity:0.7;
    cursor: pointer;
    transition:.4s;
}


h4 
{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
    font-weight: 400;
    margin:20px 0px;
}


.links-footer-container 
{
    height:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px 0px;

}




h5 
{
    color:rgba(255, 255, 255, 0.603);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
    font-weight: 400;
    margin:5px 0px;
}

.footer-link 
{
    color:rgba(255, 255, 255, 0.774);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    font-weight: 400;
    text-decoration: none;
    margin:5px 0px;
}

footer hr 
{
    width:90%;
    height:2px;
    border:none;
    background:rgba(255, 255, 255, 0.514);
    margin:10px 0px;
}

.lower-menu 
{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.social-container 
{
    width:70px;
    height:70px;
    border-radius:100%;
    border:3px solid white;
    background:transparent;
    background-image: url("images/twitter-logo-white-png.png");
    background-size:95%;
    background-repeat: no-repeat;
    background-position: center;
    margin:20px 0px;
}

.social-container:nth-child(2)
{
    background-image: url("images/SMA-Facebook.png");
}

.social-container:nth-child(3)
{
    background-image: url("images/linkedIn_logo_circle.png");
}


.policy-container 
{
    width:fit-content;
    height:fit-content;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0px 20px;
}

.policy-link 
{
    color:white;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size:20px;
    margin:10px 0px;
}

.policy-link:nth-child(1)
{
    text-decoration: none;
}

.language 
{
    width:fit-content;
    background:rgba(255, 255, 255, 0.459);
    border-radius:50px;
    border:none;
    font-size:15px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    padding:10px 20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition:opacity 0.4s;
    margin:20px 0px;
}

p8
{
    font-weight:500;
}

.down-arrow-white 
{
    height:25px;
    width: 25px;
    margin:0px 10px 0px 10px;
}

.language:hover 
{
    cursor: pointer;
    opacity:0.7;
    transition:0.4s;
}